{% extends 'images/base.html' %}

{% block title %}Homepage{% endblock title %}

{% block content %}
    <h1>Dobrodošli na moj imgur</h1>
    <h2>imamo puno ({{ count }}) slika</h2>
    <a href="/images">Image list</a>
{% endblock content %}